* {
    margin: 0;
    padding: auto0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}